body{
    background-color: #182836;
    color:#fff;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
    margin:1.1%;
}
/*436789 greenblue, 4cbd24 green, fbe473 yellow, f6956e coral, - these were the original base colours for the site*/
/*this section has the CSS for the navigation bar*/
.topnav{
    text-align: left;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background-color: #0e1924;
}
.topnav a {
  margin-left:1%;
  float: left;
  color: #ffffff;
  text-align: left;
  padding: 20px 5px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #182836;
  color: rgb(255, 255, 255);
}
/*this section contains the CSS for the various bits of text */
header{
    padding-top:100px;
}
h1{
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;

}

/*this provides the css for the footer section*/
footer{
  background-color: #0e1924;
  color:#ffffff;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  width: 100%;

}
